.back-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-container {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 80vh;
  overflow-y: auto;
  width: 550px;
}

.cart-container h2 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-name {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.cart-item-price {
  margin-bottom: 5px;
  margin-top: 10px;
  color: #fa7c16;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}

.cart-item-quantity-label {
  margin-right: 5px;
}

.cart-item-actions {
  display: flex;
  align-items: center;
}

.cart-item-actions button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  margin-right: 5px;
  cursor: pointer;
}

.cart-item-actions button:hover {
  background-color: gray;
}

.close-cart {
  width: 22px;
  height: 23px;
  color: black;
  background-color: #e74c3c;
  align-self: flex-end;
  border-radius: 20%;
  position: fixed;
}

.close-cart:hover {
  background-color: darkred;
  cursor: pointer;
}

.totals {
  margin-top: 30px;
  font-weight: bold;
}
