.main-darkMode {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #f5f5f5;
}

.cont-pro-darkMode {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  color: white;
  padding: 3rem;
  transition: all 0.3s ease-in-out;
  width: 260px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  margin: 2rem;
}

.cont-pro-darkMode:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.cont-pro.selected-darkMode {
  transform: scale(1.07);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Hover styles for selected product */
.selected-darkMode:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.input-container-darkMode input {
  width: 74%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background-color: #f5f5f5;
  font-size: 17px;
  color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
  margin: 10px, auto;
}

.cates-darkMode span:hover {
  transform: scale(1.1);
  background-color: #f5f5f5;
}

.selectedCategory-darkMode {
  transform: scale(1.1);
  background-color: #f5f5f5;
}

.sidebar-darkMode {
  width: 20%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-darkMode h2 {
  color: black;
  margin: 20px;
  font-family: "Poppins", sans-serif;
}

.cart-icon-darkMode {
  font-size: 32px;
  cursor: pointer;
  color: black;
}
