* {
  margin: 0%;
  padding: 0%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
  height: 100vh;
}

.nav-container {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin: 0 14px;
  transition: all 0.3s ease-in-out;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid white;
}

.nav a:hover {
  color: #e5e5e5;
  transition: all 0.3s ease;
}

.nav .logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0, 9);
  background-image: url("whbl1maf.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
}

.hero h1 {
  align-self: flex-start;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.hero p {
  align-self: flex-start;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 3rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.hero button {
  background-color: #fff;
  color: #1f1f24;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero button:hover {
  background-color: #1f1f24;
  color: #fff;
}

footer {
  background-color: #1f1f24;
  color: #fff;
  padding: 30px 0;
  font-size: 16px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.footer-bottom {
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.info-cont {
  width: 38%;
  margin-top: 20px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 49px;
  text-align: justify;
}

.info-cont Link button {
  align-self: center;
  justify-self: center;
}
