.body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.h1 {
  font-size: 3em;
}

.h2 {
  font-size: 2.7em;
}

.p {
  font-size: 1.2rem;
  font-family: "Hind Vadodara", sans-serif;
  font-family: "Spinnaker", sans-serif;
}

.button {
  background-color: #170247;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: #e4e1e7;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.container {
  max-width: 1400px;
  background-color: #fffcf7;
}

header {
  background-color: #fffcf7;
}

.logoIndex {
  margin: 0;
  padding: 24px 30px;
}

header .container-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 24px;
}

header a {
  padding: 4px 12px;
  text-decoration: none;
  font-weight: bold;
  color: #fa7c16;
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

header a:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.darkMode {
  font-size: 2rem;
  user-select: none;
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: #fa7c16;
  background-color: #fffcf7;
}

.hero h1 {
  margin-bottom: 20px;
}

.hero button {
  margin-top: 30px;
  background-color: #fa7c16;
  color: #e4e1e7;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero button:hover {
  background-color: rgb(168, 76, 33);
  transform: scale(1.05);
}

.somos-compara .container-somos {
  text-align: center;
  padding: 200px 12px;
  color: #fa7c16;
}

.distribuidoras {
  background-color: #fffcf7;
  text-align: center;
}

.distribuidoras .distri-container {
  padding: 140px 10px;
}

.distribuidoras h2 {
  margin-top: 0;
  color: #fa7c16;
}

.distribuidoras h2:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

.distribuidoras .carta {
  background-position: center center;
  background-size: cover;
  padding: 49px 0px;
  margin: 30px;
  border-radius: 14px;
  color: white;
  transition: transform 0.3s ease;
}

.distribuidoras .carta:first-child {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://upload.wikimedia.org/wikipedia/commons/a/ad/D1_Cuc_my_2021.jpg");
}

.distribuidoras .carta:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://cloudfront-us-east-1.images.arcpublishing.com/semana/XS75NJXNPNCL7J636PVYSAX3C4.jpg");
}

.distribuidoras .carta:nth-child(3) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://coopcrucial.com/wp-content/uploads/2020/11/almacenes-exito.jpg");
}

.distribuidoras .carta:hover {
  transform: scale(1.05);
}

footer {
  background-color: rgb(245, 245, 245);
}

footer p {
  margin: 0;
  font-size: 1rem;
}

.footer .footer-container {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 720px) {
  header {
    position: fixed;
    width: 100%;
  }

  header .container-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #170247;
  }

  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
    align-items: center;
  }

  .hero h1 {
    font-size: 3.1em;
    margin-top: 59px;
  }

  .somos-compara .container-somos {
    display: flex;
    justify-content: center;
    font-family: "Hind Vadodara", sans-serif;
    font-family: "Spinnaker", sans-serif;
  }

  .somos-compara .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .somos-compara h2 {
    margin-top: 0;
  }

  .container-somos .img-cont {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url("https://images.unsplash.com/photo-1557821552-17105176677c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1032&q=80");
    background-size: cover;
    background-position: center center;
    height: 499px;
    width: 400px;
  }

  .distribuidoras .dis {
    display: flex;
    justify-content: center;
  }

  .distribuidoras h3 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .distribuidoras .carta {
    padding: 120px;
  }

  footer .footer-container {
    text-align: center;
  }
}
