* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.main {
  width: 100%;
  height: 80%;
  background-color: #f5f5f5;
}

.products-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.2rem;
  width: 80%;
  height: 100%;
  float: right;
  place-items: center;
  scroll-behavior: smooth;
}
.pagination-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.previous-button,
.next-button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.cont-pro {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  color: white;
  padding: 3rem;
  transition: all 0.3s ease-in-out;
  width: 260px;
  height: 320px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  margin: 2rem;
}

.cont-pro:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.cont-pro:hover .delete {
  opacity: 1;
  display: block;
}

.cont-pro img {
  width: 200px;
  height: 190px;
  object-fit: cover;
  margin-bottom: 10px;
}

.cont-pro .mas-barato {
  margin-top: 10px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fa7c16;
  font-weight: bold;
}

.cont-pro.selected {
  transform: scale(1.07);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.selected:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.selected-product,
.similar-products {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.selected-product h3,
.similar-products h4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.product,
.selected-product {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-image {
  text-align: center;
  margin-bottom: 10px;
}

.product-image img {
  width: 200px;
  height: 170px;
  object-fit: cover;
  border-radius: 8px;
}

.product-prices span {
  font-size: 18px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.similar-products {
  background-color: #f5f5f5;
  padding: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.no-prod-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.no-prod-container h2 {
  margin: 20px;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.no-ava-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.no-ava {
  color: white;
  text-align: center;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
}

.input-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 300px;
}

.input-container input {
  width: 74%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background-color: #f5f5f5;
  font-size: 17px;
  color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
  margin: 10px, auto;
}

.delete {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  margin: 14px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.addToCart {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  margin: 14px;
  background-color: darkgray;
  color: #fff;
  border: none;
  padding: 9px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.inCart {
  background-color: green;
}

.cont-pro:hover .addToCart {
  display: block;
}

.cates {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: black;
}

.cates span {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  padding: 5px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.cates span:hover {
  transform: scale(1.1);
  background-color: #fa7c16;
}

.selectedCategory {
  transform: scale(1.1);
  background-color: #fa7c16;
}

.sidebar {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 100vh;
  overflow-x: hidden;
  position: fixed;
  overflow-y: scroll;
}

.sidebar .input-container {
  margin-bottom: 20px;
}

.sidebar h2 {
  color: black;
  margin: 20px;
  font-family: "Poppins", sans-serif;
}

.cart-icon {
  font-size: 32px;
  cursor: pointer;
  color: black;
}

.cart-icon:hover {
  transform: scale(1.07);
  color: rebeccapurple;
}

.darkMode {
  font-size: 2rem;
  user-select: none;
  cursor: pointer;
  color: black;
}

.home-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.toast-message {
  background: darkblue;
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}

.similar-cart {
  background-color: darkgray;
  color: #fff;
  border: none;
  padding: 9px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
.similar-cart:hover {
  background-color: green;
}

/* Media Queries */

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .products-container {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }

  .info {
    height: auto;
    padding: 20px;
  }

  .sidebar {
    width: 100%;
    padding: 10px;
  }
}

/* Mobile devices and smaller */
@media (max-width: 480px) {
  .products-container {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 10px;
  }
}
