.back-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal-container {
  width: 500px;
  height: 520px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  position: relative;
  z-index: 1000;
}

.modal-container button {
  width: 30px;
  height: 37px;
  margin-bottom: 10px;
  color: black;
  background-color:#e74c3c;
  align-self: flex-end;
  border-radius: 20%;
}

.modal-container button:hover {
  background-color: darkred;
  cursor: pointer;
}
