* {
  padding: 0%;
  margin: 0%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f5f5;
}

.main {
  width: 100%;
  height: 100%;
}

.cont-pro {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  width: 230px;
  height: 302px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.contenido h4 {
  font-size: 1.1rem;
  color: #2b2a2b;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}

.cont-pro:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.cont-pro:hover .delete {
  opacity: 1;
  display: block;
}

.cont-pro img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
  place-items: center;
  scroll-behavior: smooth;
}

.selected {
  background-color: #d1d1d1;
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

selected:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.info {
  background-color: white;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.info h2 {
  margin-bottom: 20px;
  gap: 10px;
  font-family: "Poppins", sans-serif;
}
.info p {
  font-size: 20px;
}

.info span {
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.price-info {
  font-size: 23px;
  font-weight: bold;
  font-family: cursive;
  font-family: "Poppins", sans-serif;
}

.info img {
  width: 200px;
  height: 240px;
  margin: 20px;
}

.no-prod-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.no-prod-container h2 {
  margin: 20px;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.no-ava {
  color: black;
  text-align: center;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
}

.input-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 300px;
}

.input-container input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background-color: #ffff;
  font-size: 17px;
  color: #333;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
}

.input-container input:focus {
  outline: none;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.home-container {
  margin-left: 20px;
  margin-top: 20px;
}

.cates {
  float: right;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.category {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #666666;
  cursor: pointer;
  font-size: 22px;
  height: 30px;
  width: 28px;
  transition: all 0.3s ease-in-out;
  padding: 9px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category:hover {
  background-color: #666666;
  color: #ffffff;
  transform: scale(1.1);
}

.home-button {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #666666;
  cursor: pointer;
  font-size: 24px;
  height: 50px;
  width: 50px;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  margin-left: 20px;
}

.home-button:hover {
  background-color: #666666;
  color: #ffffff;
  transform: scale(1.1);
}

.delete {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  margin: 14px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
}

select {
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #3273dc;
}

@media screen and (min-width: 768px) {
  .products-container {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .products-container {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}
