* {
  padding: 0%; 
  margin: 0%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dad {
  width: 100%;
  height: 100vh;
  display: flex;
  scroll-behavior: smooth;
  background-color:  #f6f6f6;
  margin: 0px;
  background-color: #fff;
}

.back {
  margin-left: 10px;
  margin-top: 8px;
  font-size: 14px;
  width: auto;
  color: white;
  background-color: #0e0e10;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  pointer-events: none;
  transition: background-color 0.3s ease;
}

.back:hover {
  background-color: darkslategray;
}


.lay-cont {
  max-width: 27%;
  min-width: 27%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color:  #fefefe;
  border: 1px solid #cfcdcd;

}

.lay-cont input {
  margin-top: 20px;
  padding: 8px;
  border-radius: 10px ;
  font-size: 16px;
  border: #f2f2f2;
  background-color: #d1d1d1;
}

.lay-cont input:focus{
  outline: none;
}


.bars {
  color: #2284d3;
  position: relative;
  top: 38px;
  margin-left: 10px;
}

.search-container {
  position: relative;
}

.search {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  left: 1rem;
}

input[type="search"] {
  padding-left: 2.5rem;
}

.top-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.cont-pro {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  min-height: 62.5px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  font-size: 1.1em;
  

}

.cont-pro:hover {
  background-color: #f2f2f2;
}

.cont-pro img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  gap: 10px;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
/*.products-container::-webkit-scrollbar{
  display: none;
} */

.info{
  color: black;
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.main-info {
  color: #18222c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.main-info img {
  width: 200px;
  height: 100px;
}

.no-prod-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: flex-start;
}

.no-prod-container h2{
  margin: 20px;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.selected{
  background-color:#f2f2f2 ;
}


